/* side bar */
.sidebar {
    margin-left: 20px;
    border-left: 1px solid var(--secondary-color);
    padding-left: 20px;
    min-width: 200px;
}

.sidebar >:first-child {
    margin-bottom: 60px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    border-bottom: solid 1px var(--box-border-color);
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: var(--text-color);
    transition: background 0.2s;
}

.sidebar a:hover {
    text-decoration: none;
}

.sidebar ul > a:last-child li {
    border-bottom: none;
}

.sidebar li >:last-child {
    display: inline-block;
    background: var(--text-color);
    margin-left: 20px;
    border-radius: 10px;
    padding: 0px 8px;
    align-self: center;
    font-size: 0.7em;
    color: var(--light-text-color);
}

/* archive section */
.archive {
    flex: 1;
    margin: 0;
    padding: 0;
    display: block;
}

.archive ul {
    list-style: none;
}

.archive li {
    margin: 0;
    border-top: 2px solid var(--box-border-color);
    padding: 30px 30px;
}

.archive li:first-child {
    border-top: none;
    padding-top: 0;
}

.archive a {
    color: var(--text-color);
}

.archive a:hover {
    color: var(--muted-text-color);
    text-decoration: none;
}

/* section content */
[id^='archive-'] {
    margin: 0 0 20px 0;
    padding: 0;
}

[id^='archive-'] h3 {
    margin: 0;
    margin-bottom: 10px;
}

[id^='archive-'] li {
    border: none;
    padding: 1em 0;
    display: flex;
    vertical-align: middle;
}

[id^='archive-'] .post-meta {
    margin: 0;
    padding-right: 0.5em;
    color: var(--muted-text-color);
}

[id^='archive-'] li a:hover {
    color: var(--text-color);
    text-decoration: underline;
}
