body {
    margin: 0;
    padding: 0;
    font-family: $font-family-main;
}

.site-main {
    padding: 0;
}

.banner {
    background-image: $image-banner;
    background-size: cover;         /* 图片覆盖整个banner区域 */
    background-position: right-top; /* 图片居中显示 */
    width: 100%;                    /* 设置banner宽度为100%，适应页面宽度 */
    padding-bottom: 720px;          /* 设置高度为宽度的30%，保持等比缩放 */
    position: relative;
    text-align: left;               /* 左对齐 */
}

/* 添加一个半透明的背景覆盖层 */
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* 半透明黑色 */
    z-index: 1;                             /* 保证覆盖层在内容后面 */
  }

.banner-content {
    position: absolute;     /* 绝对定位 */
    top: 40%;               /* 垂直居中 */
    width: 75%;
    margin: auto;
    padding: 0 30px;        /* 可选，增加一些左右内边距 */
    justify-content: left;  /* 水平居中内容 */
    align-items: center;    /* 垂直居中内容 */
    z-index: 2;             /* 保证内容在覆盖层前面 */
}

/* 调整内容的样式 */
.banner-content h1 {
    font-size: 3vw; /* 使用vw确保字体大小相对于视口宽度缩放 */
    margin: 0 0 10px;
    font-weight: 700;
    color: $color-starlight;
}

.banner-content h2 {
    font-size: 1.5vw;
    font-weight: 400;
    color: $color-starlight;
    margin: 0 0 20px;
}