body {
    position: relative;
    min-height: 100%;
    top: 0;
    margin: auto;
    padding: 0;
    font-family: $font-family-main;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    color: $color-black-titanium;
    background-color: $color-white-titanium;
}

main {
    padding: 0;
}

a {
    color: $color-sjtu-gold;
    text-decoration: none;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px
}

.content {
    line-height: 1.6;
    text-align: justify;
    word-wrap: normal;
    font-feature-settings: "liga" 0, "clig" 0;
    -webkit-font-feature-settings: "liga" 0, "clig" 0;
    -moz-font-feature-settings: "liga" 0, "clig" 0;
}

.content h1 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.content h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.content h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.content h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.content h5 {
    font-size: 1em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.content h6 {
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.content p {
    margin: 1em 0;
    text-indent: 2em;
}

.content code {
    font-family: $font-family-monospace;
    font-size: 0.9em;
    // border: solid 1px $color-midnight;
    border-radius: 4px;
    background-color: $color-starlight;
    padding: 0 4px;
    margin: 0 2px;
}

strong {
    font-weight: 600;
}

/* 设置导航栏的整体布局 */
.navbar {
    position: relative;             /* 固定在页面顶部 */
    top: 0;                         /* 距离页面顶部0像素 */
    width: 100%;                    /* 宽度100% */
    z-index: 1000;                  /* z轴层级 */
    background-color:transparent;   /* 导航栏背景颜色 */
    transition: background-color 0.3s ease; /* 背景颜色变化动画 */
    
}

.navbar a {
    mix-blend-mode: difference;     /* 混合模式 */
}

.navbar.scrolled {
    background-color: #FFFFFF;    /* 滚动后的背景颜色 */
}

.navbar>:first-child {
    padding: 20px;                  /* 上下左右内边距 */
    display: flex;
    justify-content: space-between; /* 左右两边对齐 */
    align-items: center;            /* 垂直居中对齐 */
    font-size: 1em;                /* 标题字号 */
}

/* 设置网站logo与标题样式 */
.site-brand {
    display: flex;
    align-items: center;
    font-weight: bold; /* 加粗字体 */
}

.site-brand a {
    color: $color-black-titanium; /* 标题颜色 */
}

.site-favicon {
    height: 30px;           /* 图标高度 */
    margin-right: 10px;     /* 图标与标题之间的距离 */
    vertical-align: middle; /* 垂直居中 */
}

// 设置导航栏标签样式
.header-navigator a {
    color: $color-black-titanium;
    margin-left: 15px; /* 每个标签之间的距离 */
}

/* 设置超链接在悬停时的样式 */
.header-navigator a:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
  }

.header-current {
    font-weight: bold; /* 当前标签加粗 */
}

// /* 针对拥有语言标识的代码块，使用::before伪元素 */
// div[class*="language-"]::before {
//     content: attr(class);
//     content: attr(class);
//     // content: attr(class).replace('language-', '').replace(' highlighter-rouge', '') " Code";
//     display: block;
//     text-transform: capitalize;
//     background: #333;
//     color: #fff;
//     font-size: 0.85em;
//     padding: 0.2em 0.6em;
//     border-radius: 4px 4px 0 0;
//     margin-bottom: -1px;
//   }
  
/* 针对整体代码块样式 */
div[class*="language-"] {
    margin: 1em 0;
    border: 1px solid $color-silver;
    border-radius: 8px;
    padding: 0;
    background-color: $color-starlight;
}

// div[class*="language-"]::before {
//     content: attr(class);
// }

/* CSS样式 */
pre code {
    padding: 10px;
    display: block;
    overflow-x: auto;
}
  
/* 选择pre标签设置整体样式 */
pre {
    margin: 0;
    padding: 0.5em;
    // border-top: 1px solid $color-sjtu-gold;
}
  

// 设置footer的样式
footer {
    background-color: #B5B5B645;
    margin: 0;
    margin-top: 60px;
    padding: 40px 40px 30px 30px;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-icon {
    height: 18px;
    vertical-align: middle;
}

