body {
    position: relative;
    min-height: 100%;
    top: 0;
    margin: auto;
    padding: 0;
    font-family: $font-family-main;
}

main {
    padding: 0;
}

.wrapper {
    max-width: 1080px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px
}

/* 设置导航栏的整体布局 */
.navbar {
    position: relative;                /* 固定在页面顶部 */
    top: 0;                         /* 距离页面顶部0像素 */
    width: 100%;                    /* 宽度100% */
    z-index: 1000;                  /* z轴层级 */
    background-color:transparent;   /* 导航栏背景颜色 */
    transition: background-color 0.3s ease; /* 背景颜色变化动画 */
    
}

.navbar a {
    color:black;                  /* 超链接颜色 */
    text-decoration: none;          /* 去掉下划线 */
}

.navbar.scrolled {
    background-color: #FFFFFF;    /* 滚动后的背景颜色 */
}

.navbar>:first-child {
    padding: 20px;                  /* 上下左右内边距 */
    display: flex;
    justify-content: space-between; /* 左右两边对齐 */
    align-items: center;            /* 垂直居中对齐 */
    font-size: 1em;                /* 标题字号 */
}

/* 设置网站logo与标题样式 */
.site-brand {
    display: flex;
    align-items: center;
    font-weight: bold; /* 加粗字体 */
}

.site-favicon {
    height: 30px;           /* 图标高度 */
    margin-right: 10px;     /* 图标与标题之间的距离 */
    vertical-align: middle; /* 垂直居中 */
}

// 设置导航栏标签样式
.header-navigator a {
    margin-left: 15px; /* 每个标签之间的距离 */
}

/* 设置超链接在悬停时的样式 */
.header-navigator a:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
  }

.header-current {
    font-weight: bold; /* 当前标签加粗 */
}

// 设置footer的样式
footer {
    background-color: #B5B5B645;
    margin: 0;
    margin-top: 60px;
    padding: 40px 40px 30px 30px;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-content a {
    color: #BD9F68;
    text-decoration: none;
}

.footer-icon {
    height: 18px;
    vertical-align: middle;
}

