/* 设置导航栏的整体布局 */
.navbar {
    display: flex;
    justify-content: space-between; /* 左右两边对齐 */
    align-items: center;            /* 垂直居中对齐 */
    padding: 20px;             /* 上下左右内边距 */
    background-color:transparent;  /* 导航栏背景颜色 */
    font-size: 16px; /* 标题字号 */
}

.navbar a {
    color:black; /* 超链接颜色 */
    text-decoration: none; /* 去掉下划线 */
}

/* 设置网站logo与标题样式 */
.site-brand {
    display: flex;
    align-items: center;
    font-weight: bold; /* 加粗字体 */
}

.site-favicon {
    height: 30px;           /* 图标高度 */
    margin-right: 10px;     /* 图标与标题之间的距离 */
    vertical-align: middle; /* 垂直居中 */
}

// 设置导航栏标签样式
.header-navigator a {
    margin-left: 15px; /* 每个标签之间的距离 */
}

/* 设置超链接在悬停时的样式 */
.header-navigator a:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
  }

.header-current {
    font-weight: bold; /* 当前标签加粗 */
}
