.content {
    flex: 1;
    max-width: 1080px;
    margin: auto;
}

/* header */
.post-header {
    margin-bottom: 80px;
    text-align: center;
}

.post-header .post-meta {
    justify-content: center;
}

.post-header .post-meta > * {
    padding: 0 20px;
}

.post-header .post-meta time::before {
    content: '􀉉';
    margin-right: 8px;
    font-family: 'SF Pro', sans-serif;
    margin-right: 3px;
}

.post-header .post-meta >*:last-child:before {
    content: '􀐱';
    margin-right: 8px;
    font-family: 'SF Pro', sans-serif;
    margin-right: 3px;
}

.post-header button {
    display: flex;
    align-items: center;
    border: none;
    padding: 20px 18px;
    background-color: transparent;
    height: 1.5em;
    color: var(--muted-text-color);
    text-decoration: none;
}

.post-header button:hover {
    color: var(--button-hover-color);
}

.post-header button::before {
    content: '􀆉';
    margin-right: 8px;
    font-family: 'SF Pro', sans-serif;
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
