$title: '{{ site.title }}';
$favicon: '{{ site.favicon }}';

$background-color: #0086D119;
$image-banner: url('/assets/images/banner.png');

$font-family-main: 'PingFangSC', 'SFPro', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: 'JetbrainsMono', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$color-space-black: #2C2E2F;  // 深色模式背景
$color-midnight: #303640;
$color-black-titanium: #494A4C;
$color-blue-titanium: #4D5261;
$color-space-gray: #7D7E80;
$color-sjtu-silver: #B5B5B6;
$color-natural-titanium: #BAB5AA;
$color-sjtu-gold: #BD9F68;
$color-starlight: #EEE5D4;
$color-silver: #E3E4E6;
$color-white-titanium: #F3F2EE; //浅色模式背景
