{{ define "main" }}
<section class="max-w-6xl mx-auto px-4 sm:px-8 lg:px-16 mt-16">
    <div class="pt-16 px-4 sm:px-8">
        <div class="xl:relative">
            <div class="mx-auto max-w-2xl">
                <article>
                    <header class="flex flex-col">
                        <h1 class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">{{ .Title }}</h1>
                    </header>
                    <div class="mt-8 prose dark:prose-invert" data-mdx-content="true">
                        {{ .Content }}
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{{ end }}
