/* Jetbrains Mono NL */
@font-face {
    font-family: 'JetBrainsMono';
    font-weight: 400;
    font-style: normal;
    src: url('/assets/fonts/JetbrainsMono/JetBrainsMonoNL-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'JetBrainsMono';
    font-weight: 400;
    font-style: italic;
    src: url('/assets/fonts/JetbrainsMono/JetBrainsMonoNL-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrainsMono';
    font-weight: 700;
    font-style: normal;
    src: url('/assets/fonts/JetbrainsMono/JetBrainsMonoNL-Bold.ttf') format('truetype');
}
  
@font-face {
    font-family: 'JetBrainsMono';
    font-weight: 700;
    font-style: italic;
    src: url('/assets/fonts/JetbrainsMono/JetBrainsMonoNL-BoldItalic.ttf') format('truetype');
}
  
/* Apple 苹方 */
@font-face {
    font-family: 'PingFangSC';
    font-weight: 300;
    font-style: normal;
    src: url('/assets/fonts/PingfangSC/PingFangSC-Light.ttf') format('truetype');
}
  
@font-face {
    font-family: 'PingFangSC';
    font-weight: 400;
    font-style: normal;
    src: url('/assets/fonts/PingfangSC/PingFangSC-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'PingFangSC';
    font-weight: 500;
    font-style: normal;
    src: url('/assets/fonts/PingfangSC/PingFangSC-Medium.ttf') format('truetype');
}
  
@font-face {
    font-family: 'PingFangSC';
    font-weight: 600;
    font-style: normal;
    src: url('/assets/fonts/PingfangSC/PingFangSC-Semibold.ttf') format('truetype');
}
  