<footer class="mt-16 px-4 pt-8 sm:px-8 lg:px-16 text-sm/6">
    <div class="mx-auto max-w-6xl py-8 px-4 sm:px-8 text-gray-600 dark:text-gray-400">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="space-y-8">
                <img class="size-9" src="images/homepage/icon@64x64.png" alt="{{ .Title }}">
                <p class="text-balance font-semibold text-orange-700 dark:text-orange-400">{{ site.Params.subtitle }}</p>
                <div class="flex gap-x-6 text-xl">
                    <a href="{{ site.Params.author.github }}" 
                        class="hover:text-gray-800 dark:hover:text-gray-300">
                        <span class="sr-only">GitHub</span>
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="{{ site.Params.author.bilibili }}" 
                        class="hover:text-gray-800 dark:hover:text-gray-300">
                        <span class="sr-only">Bilibili</span>
                        <i class="fa-brands fa-bilibili"></i>
                    </a>
                    <a href="mailto:{{ site.Params.author.email }}" 
                        class="hover:text-gray-800 dark:hover:text-gray-300">
                        <span class="sr-only">Mail</span>
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                    <a href="{{ site.Params.author.shiuyuan }}" 
                        class="hover:text-gray-800 dark:hover:text-gray-300">
                        <span class="sr-only">Shuiyuan</span>
                        <i class="fa-regular fa-bullseye"></i>
                    </a>
                </div>
            </div>
            <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <p class="text-base font-semibold">站点导航</p>
                        <ul role="list" class="mt-6 space-y-4">
                        {{ range site.Menus.main }}
                            <li>
                                <a href="{{ .URL }}" class="hover:text-black dark:hover:text-white">
                                    <span>{{ .Params.full }}</span>
                                </a>
                            </li>
                        {{ end }}
                            <li>
                                <a href="/archives" class="hover:text-black dark:hover:text-white">
                                    <span>文章归档</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-10 md:mt-0">
                        <p class="text-base font-semibold">快速链接</p>
                        <ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a href="/about" class="hover:text-black dark:hover:text-white">关于本站</a>
                            </li>
                            <li>
                                <a href="/sitemap.xml" class="hover:text-black dark:hover:text-white">网站地图</a>
                            </li>
                            <li>
                                <a href="{{ site.Params.githubrepo }}" class="hover:text-black dark:hover:text-white">GitHub 仓库</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <p class="text-base font-semibold">法律信息</p>
                        <ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a href="/privacy" class="hover:text-black dark:hover:text-white">隐私政策</a>
                            </li>
                            <li>
                                <a href="/disclaimer" class="hover:text-black dark:hover:text-white">免责声明</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-10 md:mt-0">
                        {{ partial "theme-switcher.html" . }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-16 border-t border-black/10 dark:border-white/10 pt-8 md:flex md:items-center md:justify-between">
            <p>Copyright &copy; 2022-{{ now.Year }} <span class="text-orange-700 dark:text-orange-400">{{ site.Params.author.name }}</span>. All rights reserved.</p>
            <p>Powered by <a href="https://gohugo.io" class="text-blue-600 dark:text-blue-500 hover:opacity-80">Hugo</a> & <a href="https://pages.github.com" class="text-blue-600 dark:text-blue-500 hover:opacity-80">GitHub Page</a>.</p>
        </div>
    </div>
</footer>
