---
layout: default
---
{% assign posts_by_year = site[page.collection] | group_by_exp:"post", "post.date | date: '%Y'" %}

<div class="wrapper">
    <div class="framework">
        <section class="post-list">
        {% for year in posts_by_year %}
            <ul class="post-list-yearly" id="post-list-{{ year.name }}">
                <h2>{{ year.name }}</h2>
                {% for post in year.items %}
                    <li>
                        <span class="post-meta">{{ post.date | date: "%b %d" }}</span>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}</section>

        <!-- Sidebar -->
        <aside class="sidebar">
            <ul class="yearly-stats">
                <li>
                    <a href="/posts.html">
                        All
                        <span>{{ site[page.collection] | size }}</span>
                    </a>
                </li>
                {% for year in posts_by_year %}
                    <li><a href="#post-list-{{ year.name }}">
                        {{ year.name }}
                        <span>{{ year.items | size }}</span>
                    </a></li>
                {% endfor %}
            </ul>
        </aside>
    </div>
</div>