---
layout: default
---
{% assign posts_by_year = site[page.collection] | group_by_exp:"post", "post.date | date: '%Y'" %}

<div class="wrapper">
{% capture framework_content %}
    {% for year in posts_by_year %}
        <ul id="archive-{{ year.name }}">
            <h3>{{ year.name }}</h3>
            {% for post in year.items %}
                <li>
                    <span class="post-meta">{{ post.date | date: "%b %d" }}</span>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endcapture %}
{% capture sidebar_content %}
    <ul>
        <a href="/posts.html"><li>
            <strong>全部</strong>
            <span>{{ site[page.collection] | size }}</span>
        </li></a>
        {% for year in posts_by_year %}
            <a href="#post-list-{{ year.name }}"><li>
                <span>{{ year.name }}</span>
                <span>{{ year.items | size }}</span>
            </li></a>
        {% endfor %}
    </ul>
{% endcapture %}
{% include framework.html %}
    </div>
</div>